/*! Fonts */
@font-face {
    font-family: 'The Bold Font';
    src: url('../assets/fonts/TheBoldFont/TheBoldFont-Bold.woff2') format('woff2'),
        url('../assets/fonts/TheBoldFont/TheBoldFont-Bold.woff') format('woff'),
        url('../assets/fonts/TheBoldFont/TheBoldFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digital Display';
    src: url('../assets/fonts/DigitalDisplay/Digital-Display.woff2') format('woff2'),
        url('../assets/fonts/DigitalDisplay/Digital-Display.woff') format('woff'),
        url('../assets/fonts/DigitalDisplay/Digital-Display.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* !Color Palette */
:root {
    --baseColor:                #131313;
    --baseColorDarker:          #0c0c0c;
    --baseColorLighter:         #1a1a1a;
    --baseColorLightest:        #252525;
    --accentColor1:             #82ff04;
    --accentColor2:             #ff007b;
    --accentColor2Lighter:      #bc085f;
}


/* ! */
::-moz-selection { 
    color: var(--baseColor);
    background: var(--accentColor1);
  }
  
  ::selection { 
    color: var(--baseColor);
    background: var(--accentColor1);
  }

main {
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
}

.noDisplay {
    display: none;
}

/* 
?Display Section
 */
#display {
    position: relative;
    background-color: var(--baseColorLighter);
}

#display > p {
    font-family: 'Digital Display', monospace;
    font-size: 26vmin;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#display > p:first-of-type {
    color: var(--baseColorLightest);
}

#display > p:last-of-type {
    color: var(--accentColor2);
    text-align: right;
    transform: translate(-53.5%, -50%);
}

#calcOutput {
    transition: all 0.1s;
}

.selected {
    color: var(--accentColor2Lighter) !important;
}

/* 
?Buttons
 */
.calcBtn {
    width: 25%;
    height: 100%;
    position: relative;
}

.btnText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'The Bold Font', Arial, Helvetica, sans-serif;
}



/* 
?Rows 1, 2, 3
 */
main>section {
    height: 16.666%;
    width: 100%;
    background-color: var(--baseColor);
}

.numRow {
    display: flex;
    flex-direction: row;
}

#row1>.calcBtn:nth-of-type(1)>.btnText {
    color: var(--accentColor1);
}

.calcBtn, .plusBtn {
    color: white;
    font-size: 10vmin;
    cursor: pointer;
}

.calcBtn:hover, .plusBtn:hover {
    color: var(--accentColor1);
    font-size: 11vmin;
    transition: all 0.4s;
}

/* 
?Row 4
 */
main>section:last-of-type {
    height: 33.33%;
    width: 100%;
}

#row4 {
    display: flex;
    flex-direction: row;
}

.numCol {
    width: 75%;
    height: 100%;
}

.numCol>.numRow {
    width: 100%;
    height: 50%;
}

.numCol>.numRow>.calcBtn {
    width: 33.333%;
}

.plusCol {
    width: 25%;
    height: 100%;
}

#plusBtn {
    width: 100%;
    height: 100%;
    position: relative;
}

footer {
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 0.9rem;
    display: none;
    gap: 0.3rem;
}

footer a:hover {
    transform: rotate(360deg) scale(1.2);
    transition-duration: 0.6s;
}

ion-icon {
    color: white;
}

/* !Media Queries */
@media (min-width: 992px) {
    body {
        background-color: var(--baseColor);
    }
    main {
        width: 70vmin;
        height: 100vh;
        margin: 0 auto;
    }
    #display > p {
        font-size: 18vmin;
    }
    footer {
        display: flex;
    }
}