/*! Fonts */
@font-face {
    font-family: 'The Bold Font';
    src: url('assets/fonts/The Bold Font/TheBoldFont-Bold.woff2') format('woff2'),
        url('assets/fonts/The Bold Font/TheBoldFont-Bold.woff') format('woff'),
        url('assets/fonts/The Bold Font/TheBoldFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'E1234';
    src: url('assets/fonts/e1234/E1234.woff2') format('woff2'),
        url('assets/fonts/e1234/E1234.woff') format('woff'),
        url('assets/fonts/e1234/E1234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* !Color Palette */
:root {
    --baseColor: #000117;
    --baseColorLighter: #00022a;
    --accentColor1: #ffc500;
    --accentColor1: #ff00ff;
    --accentColor1: #13a8fe;
  }
  

/* ! */
main {
    width: 100vw;
    height: 100vh;
}

main > section {
    height: 16.666%;
    width: 100%;
    background-color: var(--baseColor);
}

main > section:last-of-type {
    height: 33.33%;
    width: 100%;
}

#display {
    background-color: var(--baseColorLighter);
}